 @charset "UTF-8";

 @font-face { /*font usar no titulo do sobre*/
    font-family: 'Logo';
    src: url(fonts/FANTASY\ MAGIST.otf) format('opentype');
    font-weight: bold;
 }


 :root{ /*variaveis*/
    --primary: #03a9f4;
    --secondary:#ffebee;
    --success: #2ecc71;
    --info: #20c997;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #fefefe;
    --dark: #343a40;

    --font1: 'destaque'; /*usar com cuidado "não usar essa font."*/
    --font2: 'Logo';
 }

*{ /*tag global*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {/*corpo e html*/
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

header{/*header em estado fixo*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.317);
    color: white;
    height: 120px;
}

header img{ /*img da logo*/
    width: 6.5%;
    filter: drop-shadow(2px 2px 5px #5f5f5f);
    border-radius: 10px;
}

nav{ /*largura da nav*/
    max-width: 100%;
}

ul{ /*lsita não ordenada*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 3rem;
}

li a{ /*as lista junto com links*/
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: inherit;
    transition: .3s ease-in-out;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

li a:hover{ /*links hover*/
    font-size: 1.4em;
    text-decoration: underline;
}

ul .menu2:hover{ /*cor do icone de abrir a barra lareral*/
    color: var(--danger);
}

#contato{ /*Buttom de contato*/
    margin-left: 100px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.203) 0px 6px 20px;
}

.menu{ /*icone menu invisivel até tamanho certo*/
    display: none;
}

.menu2{ /*icones do lado de cada link do cabeçalho*/
    position: relative;  
    width: 30px;
}

.menu-lateral{ /*estilo do menu-lateral*/
    background-color: #000000f1;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
}

.menu-mobile .nav-lateral #nav-lateral-ul{ /*nav ul li do menu lateral*/
    display: block;
    visibility: visible;
    text-align: center;
    font-size: 2em;
    line-height: 105px;
    opacity: 1;
    margin-top: 50px;
    margin-right: 15px;
}

.menu-mobile .nav-lateral #nav-lateral-ul a:hover{ /*nav ul li do menu lateral hover*/
    background-color: var(--primary);
    /* padding: 2% 5%; */
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 3px 0px 2px black;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: white;
}

.menu-lateral.abrir-menu{ /*codigo de clik não usavel*/
    width: 53%;
}

.menu-lateral.abrir-menu ~ .overlay{ /*bug arrumar */
    display: block;
}

.img-lateral{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 0 4px #ffffff48;
    margin: 0 auto;
    margin-left: 40px;
    background: url(imagem/img-sobre.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

btn-fechar >#fechar{ /*buttom fechar da barra lateral*/
    position: relative;
} /*fim do estilo menu-lateral*/

/*fim do header*/

/*primeira section*/

section#sobre{
    width: 100%;
    height: 70ch;
    position: relative;
}

section#sobre .container{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
}

section#sobre .titulo{
    font-size: 2.2em;
    font-family: var(--font2);
    color: var(--danger);
    text-align: center;
    margin-left: 380px;
    padding-top: 5px;
}

section#sobre .texto{
    width: 60%;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span.laranja{
    color: #ffa500;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466)
}

span.azul{
    color: #000080;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466)
}

span.universal{
    text-decoration: underline;
}

span.amarelo{
    color: #ffff00;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.466)
}

.img-sobre img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.img-sobre img{ /*animação da img pessoal*/
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
} 

@keyframes flutuar{ /*animação de flutuação na foto*/
    0% {   /*inicio*/
        top: 0;
     }

     100%{ /*estado final*/
        top: 30px;
     }
}

.rede-sociais{ /*div pai icones*/
    position: absolute;
    right: 100px;
    font-size: 2.5em;
}

.rede-sociais a{ /*links da div pai icones*/
    text-decoration: none;
    margin-right: 20px;
}

.rede-sociais .insta{ /*cor do icone instagram*/
    color:#c13584;
}

.rede-sociais .github{ /*cor do icone github*/
    color:#24292e;
}

.rede-sociais .linke{ /*cor do icone linkedin*/
    color:#007bb5;
}

.rede-sociais .whats{ /*cor do icone whatsapp*/
    color:#25D366;
}

.rede-sociais .insta:hover{ /*hover do instagram*/
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.rede-sociais .github:hover{ /*hover do github*/
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.rede-sociais .linke:hover{ /*hover do linkedin*/
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
}

.rede-sociais .whats:hover{ /*hover do whatsapp*/
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
} /*fim da primeira section*/

/*segunda section*/
section#experiencia{
   width: 100%;
   height: 50vh;
   background-color: var(--primary);
   margin-bottom: 30px;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.308);
}

section#experiencia .container2{
   position: relative;
}

section#experiencia .sub-titulo{
    text-align: center;
    font-size: 2.1em;
    font-weight: bold;
    color: var(--danger);
    font-variant: small-caps;
    text-shadow: 1px 2px #00000087;
    padding: 10px 0;
    margin-bottom: 160px;
}

section#experiencia .outros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: relative;
}

section#experiencia .outros .website .icon{
    position: absolute;
    top: -53%;
    left: 21.5%;
    transform: translate(-50%, -50%);
} 

section#experiencia .outros .loja .icon{
    position: absolute;
    top: -53%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

section#experiencia .outros .blog .icon{
    position: absolute;
    top: -53%;
    left: 78%;
    transform: translate(-50%, -50%);
} 

section#experiencia .outros .icon{
    font-size: 4em;
    color: var(--danger);
    background-color: var(--dark);
    padding: 2.3% 5%;
    border-radius: 5px;
}

section#experiencia .outros a{
    font-size: 1.8em;
    text-decoration: none;
    color: var(--light);
    transition: all 0.6s ease-in-out;
    margin-top: 10px;
}

section#experiencia .outros a:hover{
    transform: rotate(360deg);
}

section#experiencia .outros .website{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   text-align: center;
}

section#experiencia .outros .loja{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

section#experiencia .outros .blog{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
 }

 section#experiencia .outros .text-invisivel{
    opacity: 0;
    background-color: #24292ed7;
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--light);
    margin-top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    transition: all 0.6s ease-in-out;
 }

 section#experiencia .outros a:hover ~.text-invisivel{
    opacity: 1;
 }
/*fim da segunda section*/

/*terceira section*/

 section#projetos{ /*terceira section*/
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: var(--dark);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.667);
    border: 2px solid var(--warning);
    border-radius: 2px;
 }

 section#projetos h2{ /*titulo rpincipal da terceira section*/
    font-size: 2.2em;
    color: var(--warning);
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-shadow: 3px 0px 1px #000000d0;
    margin-top: -30px;
    text-align: center;
 }

 .conjunto{ /*div pai dentro da section*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 70px;
    position: relative;
 }

 .projeto1,.projeto2,.projeto3{ /*div filhos dentro dentro da section*/
    background-attachment: fixed;
    opacity: 0.8;
    background: url(imagem/img-projeto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    clip-path: circle(50%);
    width: 350px;
    height: 350px;
    text-align: center;
    font-size: 2em;
 }

 .projeto-icon{ /*icone dentro da div filho da section*/
    color: var(--warning);
    font-size: 2em;
    margin-top: 32%;
    opacity: 0.8;
 }

 .escondido{ /*links dentro da div filho da section*/
    text-decoration: none;
    color: var(--warning);
    text-shadow: 3px 0px 1px #000000bb;
    opacity: 1;
 }

 abbr{ /*abbr quando passar o mouse*/
    text-decoration: none;
 }

 .escondido:hover{  /*links hover dentro da div filho da section*/
    opacity: .9;
    text-decoration: underline;
 } 
 
    /*fim da terceira section*/

    /*inicio do footer*/

 footer#contato2{ /*footer*/
    width: 100%;
    height: auto;
    background-color: var(--dark);
    border: 2px solid var(--success);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.667);
    padding: 40px 4%;
    margin: 0 auto;
 }

 footer fieldset{ /*inicio do formulario "fieldset"*/
    border: none;
    width: 80%;
    text-align: center;
    padding: 40px;
    margin: 0 auto;
 }

form legend{ /*formulario lagend*/
    font-size: 2em;
    font-weight: bold;
    font-variant: small-caps;
    color: var(--success);
    text-shadow: 3px 0px 1px #000000bb;
    margin-top: -50px;
    margin-bottom: 30px;
}

form label{ /*formulario label*/
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--success);
    text-shadow: 3px 0px 1px #000000bb;
    display: block;
    padding: 4px;
}

form input{ /*formulario input*/
    width: 90%;
    max-width: 550px;
    min-height: 40px;
    border-radius: 5px;
    border: 2px solid var(--info);
    outline: none;
    transition: all 0.3s ease-out;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000024;
    color: var(--light);
}

form textarea{ /*formulario textarea*/
    resize: vertical;
    overflow: hidden;
    width: 90%;
    max-width: 550px;
    min-height: 120px;
    border-radius: 4px;
    border: 2px solid var(--info);
    outline: none;
    transition: all 0.3s ease-out;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000024;
    color: var(--light);
}

form button{ /*formulario button de enviar*/
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid var(--info);
    outline: none;
    transition: all 0.3s ease-in;
    background-color: transparent;
    color: var(--success);
    text-shadow: 3px 0px 1px #000000bb;
    font-weight: bold;
    font-size: 18px;
}

form button:hover{ /*formulario button hover*/
    transform: translateY(-4px);
    box-shadow: -1px 6px 15px rgba(0, 0, 0, 0.402), inset 0px
    1px 0px 0px rgba(255, 255, 255, 0.42);
    color: black;
    background-color: var(--info);
    text-decoration: underline;
    text-shadow: none;
    border: none;
}

footer .baixar{ /*div filho dentro do footer*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    font-size: 1.5em;
    border-top: 2px solid var(--success);
    padding-top: 20px;
    width: 60%;
    color: var(--success);
}

footer .baixar >a{ /*div filho dentro do footer*/
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 3px 0px 1px #000000bb;
}

footer .baixar >a:hover{ /*div filho hover dentro do footer*/
    color: var(--warning);
    text-decoration: underline;
}

footer .baixar >a:active{ /*div filho active dentro do footer*/
    color: var(--warning);
    text-decoration: underline;
}

#github{ /*link do github*/
    transition: all 0.3s ease-in-out;
    filter: brightness(90%);
    font-size: 1.6em;
    margin: 0 10px;
}

#linke{ /*link do linkedin*/
    transition: all 0.3s ease-in-out;
    filter: brightness(90%);
    font-size: 1.6em;
    margin: 0 10px;
}

#github:hover{ /* link hover github*/
    color: var(--light);
}

#linke:hover{ /*link hover do linkedin, "fim do formulario"*/
   color: var(--light);
} 

footer >p{ /*paragrafo final do footer*/
    width: 100%;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
    opacity: 0.75;
    padding: 0 8%;
    color: var(--light);
    background-color: black;
} 
 /*fim do footer*/

/*----------------------------media screen--------------------*/


