@charset "UTF-8";

@font-face { /*não usavel*/
    font-family: 'projeto';
    src: url(fonts/Ancient\ Ad.ttf) format('truetype');
}

:root{
   --font1: 'projeto',sans-serif,monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html body{
    width:100%;
    min-height: 100vh;
    background-color: beige;
}

header{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: beige;
    line-height: 2em;
    box-shadow: 0 0 3px #3333338a;
    border-top: 10px solid #00000023;
}

header h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    line-height: 1.5em;
    animation: aparecer 8s 1 linear;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    70%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

header p{
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    animation: flutuar 5s 2 linear;
}

@keyframes flutuar{
    0%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(50px);
    }
}
/*------------------------*/
main{
    width: 100%;
    height: 100vh;
    position: relative;
}

main p#rodape{
    text-align: center;
    padding: 10px;
    font-size: 24px;
    margin-top: 20px;
}

section h2{
    text-align: center;
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right,orange,red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.proj-front, .proj-back{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 6%;
    margin: 0 auto;
    gap: 8px;
}

.elemento{
    height: 300px;
    background-color: #333;
    border: 5px solid #0000003d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: rings 5s linear;
}

.faixa >P{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    animation: fixo  10s 1 linear;
    opacity: 1;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.faixa >P:hover{
    transform: scale(1.4);
}

@keyframes fixo{
    0% {
        transform: rotateZ(-4deg) translateX(0);
        opacity: 0;
    }
    50% {
        transform: rotateZ(4deg) translateY(0);
        opacity: 0;
    }
    100% {
        transform: rotateZ(-4deg) translateX(0);
        opacity: 1;
    }
}

@keyframes rings {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px orange;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: -1px 5px 2px orangered;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px white;
    }
}

/*parte do balão*/

.tooltip {
   position: relative;
}

.tooltip .tooltext {
    visibility: hidden;
    width: 120px;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 55%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1.1s ease-in;
}

.tooltip:hover .tooltext {
    visibility: visible;
    opacity: 1;
}

.flutbalao {
    animation-name: float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.rodar {
    animation-name: rodar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rodar{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(360deg)
    }
}

@keyframes float {
    0% { 
        transform: translateY(0px);
     }
    50% { 
        transform: translateY(-10px); 
    }
    100% { 
        transform: translateY(0px);
    }
}

/*-----------------------------*/
/*efeitos site pronto*/

.img-port{
    width: 100%;
    height: 300px;
    background-image: url(imagem/img-apple.jpeg);
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    transition: 8s;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
    filter: brightness(90%);
}

.img-port a{
    text-decoration: none;
    color: beige;
    background-color: #333;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%); /*IE 9*/
    transform: translateX(-50%) translateY(-50%); 
    opacity: 1; /*1*/
    transition: all 1s ease-in;
    padding-top: 140px;
}

.img-port a:hover{
    opacity: 0;
    transition: all .1s ease-in;
}

.img-port img{
    position: absolute;
    bottom: 23%;
    left: 43%;
    -ms-transform: translateX(-50%); 
    transform: translateX(-50%);
    opacity: 1;
    animation: toque 0.5s linear infinite;
}

.img-port img:hover{
    opacity: 0;
}

@keyframes toque {
    0% { 
        transform: scale(1);
     }
    50% { 
        transform: scale(0.95); 
    }
    100% {
         transform: scale(1); 
        }
  }

  /*------------media screen-------------*/