*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f7fa;
}

span.carregando{ /*como span é display inline precisa colocar em block*/
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid black;
    border-right: 10px solid transparent;
    position: relative;
    animation: carregando 2s ease-in-out  infinite;
    display: block;
}
@keyframes carregando { /*circulo rodando*/
    0% {
        transform: rotate(0deg) 
    }
    100% {
        transform: rotate(360deg)
    }
}


div.frase-carregando{ /*frase carregando piscando*/
    color: black;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .8px;
    margin-left: 10px;
    animation: carregarFrase 2s  infinite linear;
}

@keyframes carregarFrase{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}